/*global*/
body{
  font-size: 18px;
  margin: 0;
  background-color: #0d0d0d;
  color: #bfbfbf;
  font-family: 'Montserrat', sans-serif;
}

.sub-heading{
  font-size: 3rem;
  color: #d9d9d9;
}

/*header*/
header{
  background: linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5) ), url(../img/background.jpg) ;
  background-size: 1280px 720px;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
}

nav{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0 5%; 
}

header ul li{
  display: inline-block;
  padding: 5px 16px;
  font-size: 20px
}

header a{
  text-decoration: none;
  color: #bfbfbf;
}

header a:hover{
  color: #d9d9d9;
}


/*about*/
.about{
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  padding: 3% 7%;
  line-height: 1.5;
}

.about h2, .about p{
  flex: 1;
}


/*pricing*/
.pricing-container{
  text-align: center;
  padding: 3% 7%;
}

.pricing-container h2{
  margin: 0 0 20px;
}

.tile-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.tile{
  width: 350px;
}

.tile ul{
  list-style: none;
  margin: 0;
  padding: 0;
  flex: 1;
  border: solid 2px #bfbfbf;
}

.tile li{
  margin: 10px 0px;
}

.tile h3{
  text-align: center;
  padding: 6px 0px;
  font-size: 20px;
  margin: 0;
}

/*Social*/
.contact h3{
  margin: 0px;
  text-align: center;
  padding-top: 8px;
  font-size: 30px;
}

.contact-flex{
  display: flex;
  justify-content: center;
  padding: 15px 0px;
  flex-wrap: wrap;
}

.contact-flex img{
  width: 5rem;
  height: 5rem;
}
.contact a{
  margin: 2%;
}

/*Footer*/
.footer{
  padding: 20px 10px 10px 0px;
}

.footer p{
  text-align: right;
}


/*background images*/
.image{
  background: linear-gradient( rgba(0,0,0,0.2), rgba(0, 0, 0, 0.2) ), url(/img/acoustic-amplifier-artist-audio-114820.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
}

.image1{
  background: linear-gradient( rgba(0,0,0,0.2), rgba(0, 0, 0, 0.2) ), url(/img/grayscale-photo-of-people-raising-their-hands-1666816.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
}